body {
  font-family: 'Poppins', sans-serif;
  background-color: #0a0a0a;
  color: #eee;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  color: #00ffcc;
}

.subtitle {
  margin-bottom: 30px;
  color: #ccc;
  font-size: 1.1em;
}

#main-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  width: 90%;
}

.panel {
  width: 40%;
  border: 2px solid #555;
  padding: 20px;
  border-radius: 15px;
  background-color: #1a1a1a;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.2);
}

.panel h2 {
  color: #00ffcc;
}

.inputs {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  width: 80%;
}

button {
  margin: 8px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #00ffcc;
  border: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #00ffaa;
}

.status {
  margin-top: 15px;
  font-size: 1.1em;
  color: #0ff;
}

#animation-area {
  position: relative;
  height: 200px;
  margin-top: 50px;
}

.packet {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  background-color: #00ffcc;
  transition: all 1.2s ease-in-out;
}

footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #777;
}
#verifier-log {
  background: #111;
  color: #ccc;
  margin-top: 10px;
  padding: 10px;
  height: 150px;
  overflow-y: auto;
  border-radius: 8px;
  text-align: left;
  font-size: 0.9em;
}
button.secondary {
  background-color: #444;
  color: #eee;
}

button.secondary:hover {
  background-color: #666;
}
